<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <style>
        body {
            text-align: center;
        }

        div {
            display: inline-block;
            border: solid black 2px;
            border-radius: 20%;
            padding: 10px;
        }
        img {
            height: 80px;
            width: auto;
        }


    </style>
</head>
<body>
    <h1>Welcome to Your Pokedex!</h1>
     <h3> <a href="/pokemon/new">Create a New Pokemon!</a> </h3>
        <% for (let i = 0; i < 20; i++) { %>
            <div>
                <h3><%=allPokemon[i].name%> </h3>
                <a href="/pokemon/<%=[i]%>"> <img src="<%=allPokemon[i].img%>"></a>
                <br>
                <button>Edit</button>
                <button>Delete</button>
            </div>
       <% } %>
            
        
</body>
</html>
