<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <style>
        body {
            text-align: center;
        }
        li {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Welcome to Your Pokedex!</h1>
    <form action="/" method="POST">
        <label for="name">Pokemon Name</label>
        <input type="text" name="name" id="name" placeholder="enter pokemon here"/>
        <input type="submit" value="Add New Pokemon!">
      </form>
    <ul>
        <% for (let i = 0; i < 20; i++) { %>
            <li>
                <p><a href="/<%=[i]%>">
                    <img src="<%=allPokemon[i].img%>">
                </a>
                <br>
                <%=allPokemon[i].name%>
            </p>
        </li>
       <% } %>
        </ul>
        
</body>
</html>
